.styleOfNav {
  padding: 0 100px;
}

img.logoImg {
  width: 4rem;
}
header.container {
  position: relative;
}
.navStyle {
  background: linear-gradient(360deg, white, #5dccff);
}

.text-style {
	font-size: 16px;
	font-weight: 700;
}
