.profileImage {
	width: 400px;
}
.styleOfHeader {
	/* border: 1px solid black; */
	/* padding: 0px 100px; */
	background: linear-gradient(to right, 
    #F6F6F6 79.3%,
	#E4E5E0 21.7% 
    );
}
	.headerProfileImage {
		height: 80vh;
		width: auto;
	}
	.styleOfHeader {
		padding: 25px 50px;
	}
