.book-page-style1 {
  background: #078dd2;
}

.book-page-style2 {
  background: #99d9f6;
}

@media only screen and (max-width: 375px) {
  .flipBook {
    /* border: solid 1px red; */
    width: 50%;
    height: 50%;
    /* background: blue; */
  }
  .book-style {
    width: 90vw;
    height: 90vh;
    padding: 5px;
    /* border: solid 1px red; */
  }
  .book-page-style1 {
    background: white;
  }
}
